/***** 404 Page Properties ******/
.error-template {
	padding: 100px 15px 70px;
	text-align: center;
	.error-actions {
		margin-top:15px;
		margin-bottom:15px;
		.btn { 
			margin-right:10px; 
		}
	}
}