/***** BACK TO TOP 1 VIEW PROPERTIES *****/
.back-to-top-1 {
	display: inline-block;
	height: $back-top-mobile-size;
	width: $back-top-mobile-size;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(#000, .05);
	overflow: hidden; 
	text-indent: 100%;
	white-space: nowrap;
	background: rgba($back-top-bk-color, $back-top-bk-opacity) url(../img/icons/backto-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
	&.cd-is-visible, &.cd-fade-out, .no-touch &:hover {
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}
	&.back-to-top-1-visible {
		visibility: visible;
		opacity: $back-top-bk-hover-opacity;
	}
	&.back-to-top-1-fade-out {
		opacity: $back-top-bk-opacity;
	}
	.no-touch &:hover {
		background-color: rgba($back-top-bk-color, 1);
		opacity: $back-top-bk-hover-opacity;
	}
	@include MQ(M) {
		right: 20px;
		bottom: 20px;
		height: $back-top-tablet-size;
		width: $back-top-tablet-size;		
	}
	@include MQ(L) {
		height: $back-top-desktop-size;
		width: $back-top-desktop-size;
		right: 30px;
		bottom: 30px;
	}
} 